@import url("https://fonts.googleapis.com/css?family=Crushed");
body {
   background: url("https://s25.postimg.org/6z70aj2gf/usa_california_sunset_spring_wide.jpg");
   no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-color: #f4cf05;
   text-align: center;
}

.bs-example {
   margin-top: 10%;
}

.bs-example2 {
   margin-top: 1.5em;
   font-weight: bold;
   font-size: 1.25em;
   color: #FFF;
   text-shadow: 1.25px 1px #25282a;
}
/* NONE OF THE FOLLOWING CSS IS NEEDED */

.nate {
  margin: .5em auto;
  text-align: center;
  color: #FFF;
}
a:link {
    color: BlueViolet;
    text-decoration: none;
}
a:visited {
    color: green;
}
a:hover {
    color:DarkOrchid;
    text-decoration: underline;
}
a:active {
    color: yellow;
}
.twitter {
  margin: 2em auto 0px auto;
  font-family: Arial;
  font-size: small;
  font-weight: bold;
  color: #f5911d;
  text-align: center;
  padding: 0;
  left: 0px;
  top: 0px;
  overflow: visible;
}
/* SIGNATURE CODE */
a {
	color: #f77d06;
	-o-transition: color .5s ease-out, background 7s ease-in;
	-ms-transition: color .5s ease-out, background 7s ease-in;
	-moz-transition: color .5s ease-out, background 7s ease-in;
	-webkit-transition: color .5s ease-out, background 7s ease-in;
	transition: color .5s ease-out, background 7s ease-in;
	text-decoration: none;
}
a:hover {
	color: #FFF;
	background: none;
	text-decoration: none;
}

.credits {
	text-align: center;
	font-family: 'Crushed';
	font-size: 1.5vw;
	color: #FFF;
}
.stars {
	color: #f43a2f;
	padding: 0 .5vw 0 .5vw;
	font-size: 1.6vw;
}